<h1 style="font-family:verdana" >A new fight between
<%= @player_1_name %> and <%= @player_2_name %> is about to start...Get Ready!
</h1>
<p style="font-family:verdana"> Player 1 = <%= @player_1_name %>,
 they have <%= @player_1_hit_points%> hit points </p>
<p style="font-family:verdana"> Player 2 = <%= @player_2_name %>,
 they have <%= @player_2_hit_points%> hit points </p>

 <form action="/attack" method="get">
  <input type="submit" value="Attaaaaaaack!">
 </form>

<!-- <button type="button" class="button" onclick="alert('<%= @player_1%> has <%= @player_1_hit_points%> hit points')"><%= @player_1%>'s Hit Points </button>
<button type="button" class="button" onclick="alert('Liy has 50 hit points')"><%= @player_2%>'s Hit Points </button> -->
