<h1 style="font-family:verdana" > A new fight between
<%= @player_1 %> and <%= @player_2 %> is about to start...Get Ready!
</h1>
<p style="font-family:verdana"> Player 1 = <%= @player_1 %>, they have <%= @player_1_hit_points%> hit points </p>
<p style="font-family:verdana"> Player 2 = <%= @player_2 %>, they have <%= @player_2_hit_points%> hit points </p>

<!-- <button type="button" class="button" onclick="alert('<%= @player_1%> has <%= @player_1_hit_points%> hit points')"><%= @player_1%>'s Hit Points </button>
<button type="button" class="button" onclick="alert('Liy has 50 hit points')"><%= @player_2%>'s Hit Points </button> -->
